name: "CI-02 Security Scan"

on:
  push:
    branches: [ "main" ]
  pull_request:
    # The branches below must be a subset of the branches above
    branches: [ "main" ]
  schedule:
    - cron: '26 15 * * 1'

permissions:
  contents: read
  security-events: write

jobs:
  analyze:
    name: Analyze
    runs-on: ubuntu-latest
    timeout-minutes: 360
    permissions:
      actions: read
      contents: read
      security-events: write

    strategy:
      fail-fast: false
      matrix:
        language: [ 'rust' ]

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Initialize CodeQL
      uses: github/codeql-action/init@v3
      with:
        languages: ${{ matrix.language }}
        config-file: .github/codeql-config.yml

    - name: Set up Rust
      uses: dtolnay/rust-toolchain@stable

    - name: Install System Dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y 
          libasound2-dev libudev-dev pkg-config clang libclang-dev 
          libavcodec-dev libavformat-dev libavutil-dev 
          libswscale-dev libavdevice-dev libavfilter-dev libswresample-dev 
          ffmpeg

    - name: Build for Analysis
      run: cargo build --workspace --features "mapmap-io/ci-linux,ffmpeg"

    - name: Perform CodeQL Analysis
      uses: github/codeql-action/analyze@v3
      with:
        category: "/language:${{matrix.language}}"
